@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

main {
    font-family: 'JetBrains Mono', monospace;
    max-width: 38rem;
    padding: 2rem;
 /*   margin: auto; */
}

body {
    background-color: #232323;
    color: #aaaaaa;
    font-family: 'JetBrains Mono', monospace;
}


a, a:active, a:visited {
    color: #EE0000;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

img {  
    max-width: 75%;  
    height: auto;
}

code {
  font-family: 'JetBrains Mono', monospace;
  background-color: #121212;
  color: #cccccc;
  width: 60%;
}

pre {
  white-space: pre-wrap;
  font-family: 'JetBrains Mono', monospace;
  background-color: #121212;
  color: #bb0000;
}

video {
    max-width: 100%;
    height: auto;
}
